<!DOCTYPE html>
<html>
<head>
	<title>Angular</title>
  <script type="text/javascript" src="js/jquery.js">
  </script>
  <script type="text/javascript" src="js/angular.js">
  </script>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<script type="text/javascript" src="js/materialize.min.js">
	</script>

  <script>
     $(document).ready(function() {
        $('select').material_select();
     });
  </script>

	</head>
<body>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Angular</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">

      </ul>
    </div>
  </nav>
        <div class="container">
          <h2>Form</h2>
          <div ng-app class="row">

              <div class="input-field  col s4">
                <input type="checkbox" id="showContent" ng-model="showDiv"/>
                <label for="showContent">Show Content</label>
                  <div ng-show="showDiv">
                    <h4>  This is Check box content</h4>
                  </div>
              </div>

              <div class="input-field  col s4">
                <input type="radio" id="sports" name="group" value="showDivsports" ng-model="showRadio"/>
                <label for="sports">Sports</label>
                <input type="radio" id="academics" name="group" value="showDivacademics" ng-model="showRadio"/>
                <label for="academics">Academics</label>
                <input type="radio" id="attitude" name="group" value="showDivattiude" ng-model="showRadio"/>
                <label for="attitude">Attitude</label>
                  <div ng-switch="showRadio">
                    <div ng-switch-when="showDivsports">
                      <h4>  Sports content</h4>
                    </div>
                    <div ng-switch-when="showDivacademics">
                      <h4>  Academics content</h4>
                    </div>
                    <div ng-switch-when="showDivattiude">
                      <h4>  Attitude content</h4>
                    </div>
                  </div>
              </div>

              <div class="input-field col s4">
                <select  id="selectoption" ng-model="showSelect">
                  <option value="" disabled>select An option</option>
                  <option value="One">One</option>
                  <option value="Two">Two</option>
                  <option value="Three">Three</option>
                  <option value="Four">Four</option>
                  <option value="Five">Five</option>
                </select>
                <label for="selectoption">Select an option</label>
                <div ng-switch="showSelect">
                  <div ng-switch-when="One">
                    <h4>  One content</h4>
                  </div>
                  <div ng-switch-when="Two">
                    <h4>  Two content</h4>
                  </div>
                  <div ng-switch-when="Three">
                    <h4>  Three content</h4>
                  </div>
                  <div ng-switch-when="Four">
                    <h4>  Four content</h4>
                  </div>
                  <div ng-switch-when="Five">
                    <h4>  Five content</h4>
                  </div>
                </div>
              </div>




        	</div>
        </div>
</body>
</html>
