<!DOCTYPE html>
<html>
<head>
    <title>Angular</title>
        <script type="text/javascript" src="js/angular.js">
        </script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="css/materialize.min.css">
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </head>
    <style >
    .invalid {
    color:red;
}
    </style>
<body ng-app="contentRetriver">
  <nav class="teal darken-3">
   <div class="nav-wrapper">

     <ul id="nav-mobile" class="right hide-on-med-and-down">
       <a href="#" class="brand-logo center">Content Mangement</a>
       <li><a href="angularcontentadd.html">Add content</a></li>
       <li><a href="angularcontentshow.html">Show content</a></li>

     </ul>
   </div>
 </nav>
    <div class="row" ng-controller="retriveData">

        <div class="container" >
            <div ng-show="allContent.length > 0 ">
            <div class="col s4" >
            	<h2>Content</h2>
            <div >

                        <table>
                          <tr>
                            <th ng-click="orderBy('myIndex')">Index</th>
                            <th ng-click="orderBy('myHeading')">Heading</th>
                          </tr>
                          <tr ng-repeat="content in allContent |orderBy:chooseOrder">
                            <td>{{content.myIndex}}</td>
                            <td>{{content.myHeading}}</td>
                            <td><button class="waves-effect waves-light btn" ng-click="showContent(content.myIndex)">Show</button></td>
                            <td><button class="waves-effect waves-light btn" ng-click="deleteContent(content.myIndex)">Delete</button></td>
                          </tr>
                        </table>
                            </div>


            </div>
            <div class="col s4 offset-s4">
              <div>
                  <h2>Show Content</h2>
              <h5>{{allContent[contentIndex].myHeading}}</h5>
              <sub>By {{allContent[contentIndex].myAuthor}}</sub>
              <p class="flow-text">{{allContent[contentIndex].myContent}}</p>
              </div>

            </div>
        </div>

        <div>
        	<div class="container">
            <div ng-show="allContent==null || allContent.length==0">
            <h3>Please Enter some content</h3>
            <h5><a href="angularcontentadd.html">Click Here to add content</h5>
            </div>
            </div>
        </div>
        

        </div>

        </div>
        <script type="text/javascript">
        var app=angular.module("contentRetriver",[]);
        app.controller('retriveData',function($scope)
                      {

                      $scope.test = function(a) {
                        console.log("GH");
                        console.log(a);
                      };

                      var old = localStorage.getItem("local");
                      $scope.contentIndex=0;
                      
                      var myDatajson=JSON.parse(old);
                     
                       console.log(myDatajson);
                      $scope.allContent=myDatajson;

                      if($scope.allContent!=null){
                       if($scope.allContent.length<1)

                      {
                      	$scope.hideContent=true;
                      	$scope.showHiddenHeading=false;
                      	console.log($scope.hideContent);
                      }
                      $scope.orderBy = function(x) {
                          $scope.chooseOrder = x;
                      }
                      $scope.showContent = function(id) {
                        // alert(id);
                        id--;

                        $scope.contentIndex=id;
                        console.log($scope.allContent[id]);
                      }
                      $scope.deleteContent = function(id) {
                        // alert(id);
                        id--;
                        //delete messageDump[id];
                        // delete $scope.allContent[id];
                        $scope.allContent.splice(id, 1);
                        for(var i=id;i<$scope.allContent.length;i++)
                        {
                        	$scope.allContent[i].myIndex-=1;
                        	// console.log($scope.allContent[i]);
                        }
                        messageDump=$scope.allContent;
                       	var myJSON = JSON.stringify(messageDump);
                  		localStorage.setItem("local", myJSON);
                        console.log($scope.allContent);
                      }

                      
                    }
                      });
        </script>
        </div>
</body>
</html>
