<!DOCTYPE html>
<html>
<head>
	<title>Angular</title>
	<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	<script type="text/javascript" src="js/materialize.min.js">
	</script>
	<script type="text/javascript" src="js/angular.js">
	</script>
	</head>
<body>
   <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Angular</a>

    </div>
  </nav> 
        <div class="container">
        	<div class="col s3"></div>
        	<div class="col s4">
        	<h2>Calculator</h2>
        		<div ng-app="" ng-init="Quantity='0';Cost='0'">
        			
                    <p>Quantity<input type="text" ng-model="Quantity"></p>
                    <p>Cost<input type="text" ng-model="Cost"></p>
        			       <h5>Total Cost</h5>
                     <p>{{Quantity*Cost}}</p>
        		</div>

        	</div>
        </div>
</body>
</html>